<div class="h2 mt-4">Entrada de Clientes</div>

<form class="mt-4" action="/createpost" method="post">


    {{!-- Início da Linha de Nome do Cliente e Contato --}}
    <div class="row">
        <div class="col-7 form-group">
            <label for="cliente">Cliente: </label>
            <input class="form-control" type="text" name="cliente" id="cliente" placeholder="Nome do cliente" required>
        </div>
        <div class="col form-group">
            <label for="contato">Contato: </label>
            <input type="text" name="contato" id="contato" class="form-control" placeholder="(99) 9999-9999">
        </div>
    </div>
    {{!-- Fim da Linha de Cliente e Contato --}}



    {{!-- Início da Linha de Marca e Modelo --}}
    <div class="row mb-3">
        <div class="col-md-5">
            <label for="marca">Marca: </label>
            <select class="form-control" name="marca"id="marca">
                <option  value="" ></option>
            </select>
        </div>
        <div class="col-md-5">
            <label for="modelo">Modelo: </label>
            <select class="form-control" name="modelo" id="modelo">
                <option value="" ></option>
            </select>
        </div>
        {{!-- Botão que dispara a modal para adicionar pessoas --}}
        <div class="col mt-auto ">
            <button type="button" class="btn btn-outline-primary" data-toggle="modal" data-target=".bd-example-modal-sm">Adicionar</button>
        </div>
    
        {{!-- Início do Conteúdo da Modal --}}
        <div class="modal fade bd-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-sm">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4>Adicionar Veículo</h4>
                    </div>
                    <form action="" method="post">
                    <div class="modal-body">
                        
                                <div class="form-group">
                                    <label for="newmarca">Marca: </label>
                                    <input type="text" class="form-control" name="newmarca" id="newmarca" placeholder="Ex: Chevrolet">
                                </div>  
                                <div class="form-group">
                                    <label for="newmodelo">Modelo: </label>
                                    <input type="text" class="form-control" name="newmodelo" id="newmodelo" placeholder="Ex: Onix Plus">
                                </div>
                    </div>
                    <div class="modal-footer">
                        <input type="submit" class="btn btn-success" value="Adicionar">
                    </div>
                    </form>
                </div>
            </div>
        </div>
        {{!-- Fim do Conteúdo da Modal --}}

    </div>
    {{!-- Fim da Linha de Marca e Modelo --}}


    <div class="form-group">
        <label for="observacao">Observações: </label>
        <input class="form-control" type="text" name="observacao" id="observacao" placeholder="Ex: Arranhado na porta direita" required>
    </div>


    <div class="row mb-3"> 
        <div class="col-4">
            <div class="form-group">
                <label for="valor">Valor: </label>
                <input type="number" name="valor" class="form-control" placeholder="Ex:60.00" required>
            </div>    
        </div>
        <div class="col">
            <div class="form-group">
                <label for="pagform">Forma de Pagamento: </label>
                <input class="form-control" type="text" name="pagform" id="pagform" placeholder="Ex: Dinheiro" required>
            </div>
        </div>
    </div>


    <div class="form-group form-check">
        <input class="form-check-input" type="checkbox" name="pago" id="pago">
        <label class="form-check-label" for="pago">Pago</label>
    </div>


    <input class='btn btn-success' type="submit" value="Enviar">


</form>